<mat-card class="mb-25 tagus-card">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Select</h5>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="tagus-form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Default Select</label>
                    <mat-form-field appearance="fill">
                        <i class="ri-list-check"></i>
                        <mat-label>Favorite food</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tagus-form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Multiple Select</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Toppings</mat-label>
                        <i class="ri-list-check"></i>
                        <mat-select [formControl]="toppings" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tagus-form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Custom Trigger Select</label>
                    <mat-form-field appearance="fill">
                        <i class="ri-list-check"></i>
                        <mat-label>Toppings</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                            <mat-select-trigger>
                            {{toppings.value?.[0] || ''}}
                            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                                (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
